<div class="modal-fluid">
  <div class="modal-header">
    <h3 class="modal-title">
      Ajouter Amicale
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <mat-horizontal-stepper linear #stepper>
    <mat-step label="Données du contrat" [completed]="this.completed1">
      <form
        class="overflow-auto"
        #contractDataForm="ngForm"
        (ngSubmit)="onSubmitContractData(contractDataForm, stepper)"
      >
        <div class="form-group">
          <label>Numéro de Police</label>
          <input
            required
            #numPolice="ngModel"
            pattern="[0-9]*"
            ngModel
            name="numPolice"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Numéro de police"
            [class.is-invalid]="numPolice.invalid && numPolice.touched"
          />
          <small
            class="d-flex justify-content-center text-danger"
            *ngIf="numPolice.invalid && numPolice.touched"
            >Seulement des Numéros
          </small>
        </div>
        <div class="form-group">
          <label>Date d'Echéance</label>
          <div class="row">
            <div class="col-10">
              <input
                #dateEcheance="ngModel"
                name="dateEcheance"
                required
                ngModel
                [matDatepicker]="myDatepicker"
                class="form-control"
                placeholder="Code Utecom"
                [class.is-invalid]="dateEcheance.invalid && dateEcheance.dirty"
              />
            </div>

            <div class="col-2 pr--1">
              <mat-datepicker-toggle
                [for]="myDatepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </div>
          </div>
          <small
            class="d-flex justify-content-center text-danger"
            *ngIf="dateEcheance.invalid && dateEcheance.touched"
            >Seulement des Numéros
          </small>
        </div>

        <div class="form-group">
          <label>Date Effective</label>
          <div class="row">
            <div class="col-10">
              <input
                #dateEffective="ngModel"
                required
                ngModel
                [matDatepicker]="myDatepicker1"
                class="form-control"
                name="dateEffective"
                placeholder="Code Utecom"
                [class.is-invalid]="
                  dateEffective.invalid && dateEffective.touched
                "
              />
            </div>
            <div class="col-2 pr--1">
              <mat-datepicker-toggle
                [for]="myDatepicker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>
            </div>
          </div>
          <small
            class="d-flex justify-content-center text-danger"
            *ngIf="dateEffective.invalid && dateEffective.touched"
            >Ce champs est requis
          </small>
        </div>
        <div class="form-group">
          <label>Remarques</label>
          <textarea
            ngModel
            type="text"
            name="remarques"
            class="form-control"
            rows="3"
            id="exampleFormControlInput1"
            placeholder="Remarques"
          >
          </textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button
            [disabled]="contractDataForm.form.invalid"
            class="btn btn-success"
            type="submit"
          >
            Ajouter
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step label="L'ojet assuré">
      <form
        class="overflow-auto"
        #objetForm="ngForm"
        (ngSubmit)="onSubmitObjet(objetForm, stepper)"
      >
        <div class="form-group">
          <label>Date du Production</label>
          <div class="row">
            <div class="col-10">
              <input
                name="dateProduction"
                #dateProduction="ngModel"
                ngModel
                [matDatepicker]="myDatepickerEffective"
                class="form-control"
                placeholder="Date Effective"
              />
            </div>
            <div class="col-2 pr--1">
              <mat-datepicker-toggle
                [for]="myDatepickerEffective"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepickerEffective></mat-datepicker>
            </div>
          </div>
          <small
            class="d-flex justify-content-center text-danger"
            *ngIf="dateProduction.invalid && dateProduction.dirty"
            >Seulement des Numéros
          </small>
        </div>
        <div class="form-group">
          <label>Date d'Aquisition</label>
          <div class="row">
            <div class="col-10">
              <input
                #dateAquisition="ngModel"
                required
                ngModel
                [matDatepicker]="myDatepicker2"
                name="dateAquisition"
                class="form-control"
                placeholder="Code Utecom"
                [class.is-invalid]="
                  dateAquisition.invalid && dateAquisition.touched
                "
              />
            </div>
            <div class="col-2 pr--1">
              <mat-datepicker-toggle
                [for]="myDatepicker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2></mat-datepicker>
            </div>
          </div>
          <small
            class="d-flex justify-content-center text-danger"
            *ngIf="dateAquisition.invalid && dateAquisition.touched"
            >Seulement des Numéros
          </small>
        </div>
        <div class="form-group">
          <label>Type de l'objet</label>
          <select
            ngModel
            required
            #typeObjet="ngModel"
            [class.is-invalid]="typeObjet.invalid && typeObjet.touched"
            class="form-control"
            name="type"
            (change)="selectType($event.target.value)"
          >
            <option value="" selected>Type</option>
            <option value="voiture">Voiture</option>
            <option value="maison">Maison</option>
          </select>
          <small
            class="d-flex justify-content-center text-danger"
            *ngIf="typeObjet.invalid && typeObjet.touched"
            >Ce Champs est requis
          </small>
        </div>
        <ng-container [ngSwitch]="type">
          <div *ngSwitchCase="voiture">
            <div class="form-group">
              <label *ngIf="this.width >= optimalWidth">Marque</label>
              <input
                required
                #marque="ngModel"
                ngModel
                type="text"
                [class.is-invalid]="marque.invalid && marque.touched"
                name="marque"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Marque"
              />
              <small
                class="d-flex justify-content-center text-danger"
                *ngIf="marque.invalid && marque.touched"
                >Ce champs est requis
              </small>
            </div>

            <div class="row justify-content-between">
              <div class="col-xl">
                <div class="form-group">
                  <label *ngIf="this.width >= optimalWidth">Modèle</label>
                  <input
                    required
                    #model="ngModel"
                    ngModel
                    name="model"
                    required
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Modèle"
                    [class.is-invalid]="model.invalid && model.touched"
                  />
                  <small
                    class="d-flex justify-content-center text-danger"
                    *ngIf="model.invalid && model.touched"
                    >Ce champs est requis
                  </small>
                </div>
              </div>
              <div class="col-xl">
                <div class="form-group">
                  <label *ngIf="this.width >= optimalWidth">Puissance</label>
                  <input
                    pattern="[0-9]*"
                    #puissance="ngModel"
                    ngModel
                    name="puissance"
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="puissance"
                    [class.is-invalid]="puissance.invalid && puissance.dirty"
                  />
                  <small
                    class="d-flex justify-content-center text-danger"
                    *ngIf="puissance.invalid && puissance.dirty"
                  >
                    Numéros
                  </small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label *ngIf="this.width >= optimalWidth"
                >Numéro du Chassis</label
              >
              <input
                #chassis="ngModel"
                ngModel
                type="text"
                name="chassis"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Numéro de chassis"
              />
              <small
                class="d-flex justify-content-center text-danger"
                *ngIf="chassis.invalid && chassis.touched"
                >Ce champs est requis
              </small>
            </div>
            <div class="form-group">
              <label *ngIf="this.width >= optimalWidth"
                >Numéro du Chassis</label
              >
              <input
                #chassis="ngModel"
                ngModel
                type="text"
                name="serie"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Numéro de chassis"
              />
              <small
                class="d-flex justify-content-center text-danger"
                *ngIf="chassis.invalid && chassis.touched"
                >Ce champs est requis
              </small>
            </div>
          </div>
          <ng-container *ngSwitchCase=""></ng-container>
        </ng-container>
        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-danger" matStepperPrevious>
            Retourner
          </button>
          <button
            [disabled]="objetForm.form.invalid"
            class="btn btn-success"
            type="submit"
          >
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step label="uploader le contrat">
      <div class="container-fluid">
        <input
          #fileInput
          style="display: none;"
          type="file"
          (change)="onFileSelected($event, stepper)"
        />

        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event, stepper)"
          (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)"
        >
          <ng-template
            height="20vh"
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            <i class="fa fa-upload fa-4x"></i>
          </ng-template>
        </ngx-file-drop>

        <br />

        <div class="row justify-content-center">
          <button
            type="button"
            class="btn-primary rounded b border-0"
            (click)="fileInput.click()"
          >
            Browse Files
          </button>
        </div>
        <br />
        <div class="row justify-content-center">
          {{ this.progress }}%
          <mat-progress-bar
            mode="determinate"
            [value]="this.progress"
          ></mat-progress-bar>
        </div>
        <br />
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-danger" matStepperPrevious>
          Retourner
        </button>
        <button
          (click)="addContract(stepper)"
          class="btn btn-success"
          type="submit"
        >
          Terminer
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Succées</ng-template>
      <success></success>
    </mat-step>
  </mat-horizontal-stepper>
</div>
