<div
  [ngClass]="
    this.width >= this.optimalWidth
      ? 'header pb-8 pt-5 pt-lg-8 pr-3 align-items-center'
      : 'header pb-8 pt-5 pt-lg-8 pr-1 align-items-center'
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid">
    <div class="row">
      <div
        [ngClass]="this.width >= this.optimalWidth ? 'col-8' : 'col-12'"
        id="mainCard"
      >
        <big-card
          [name]="this.adherent.nom"
          [email]="this.adherent.email"
          [num1]="this.adherent.numTel1"
          [num2]="this.adherent.numTel2"
          [adress]="this.adherent.adresse"
          [typeId]="this.adherent.id"
          [type]="this.adherentType"
          [cin]="this.adherent.cin"
        ></big-card>
      </div>

      <div class="col-4" *ngIf="this.width >= optimalWidth">
        <div class="row" style="height: 47.5%;">
          <small-card
            [name]="card1.name"
            [icon]="card1.icon"
            [statistics]="this.listContrats.length"
          ></small-card>
        </div>
        <div class="row" style="height: 5%;"></div>
        <div class="row" style="height: 47.5%;">
          <small-card
            [name]="card1.name"
            [icon]="card1.icon"
            [statistics]="this.listContrats.length"
          ></small-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <app-contracts-table
    (addClicked)="this.openAddDialog()"
    [listContrats]="this.listContrats"
  ></app-contracts-table>
  <br />
</div>
