<div class="modal-lg">
  <div class="modal-header">
    <h3 class="modal-title">
      Modifier Adherent
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid">
    <form #identityForm="ngForm" (ngSubmit)="onSubmit(identityForm)">
      <div class="row justify-content-between">
        <div class="col-6 align-items-end">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nom</label>
            <input
              required
              #nom="ngModel"
              [(ngModel)]="this.adherent.nom"
              type="text"
              [class.is-invalid]="nom.invalid && nom.touched"
              name="nom"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Amicale 1"
            />

            <small
              class="d-flex justify-content-center text-danger"
              *ngIf="nom.invalid && nom.touched"
              >Le Nom est requis
            </small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Prénom</label>
            <input
              required
              #prenom="ngModel"
              [(ngModel)]="this.adherent.prenom"
              type="text"
              name="prenom"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Prénom"
              [class.is-invalid]="prenom.invalid && prenom.touched"
            />
            <small
              class="d-flex justify-content-center text-danger"
              *ngIf="prenom.invalid && prenom.touched"
              >Le Prénom est requis
            </small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">CIN</label>
            <input
              required
              #cin="ngModel"
              [(ngModel)]="this.adherent.cin"
              pattern="^\d{8}$"
              ngModel
              name="cin"
              required
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="cin"
              [class.is-invalid]="cin.invalid && cin.touched"
            />
            <small
              class="d-flex justify-content-center text-danger"
              *ngIf="cin.invalid && cin.touched"
              >8 Numéros
            </small>
          </div>
          <div class="row justify-content-between">
            <div class="col-xl">
              <div class="form-group">
                <label for="exampleFormControlInput1">Numéro 1</label>
                <input
                  required
                  #num1="ngModel"
                  pattern="^\d{8}$"
                  ngModel
                  [(ngModel)]="this.adherent.numTel1"
                  name="num1"
                  required
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="66789423"
                  [class.is-invalid]="num1.invalid && num1.touched"
                />
                <small
                  class="d-flex justify-content-center text-danger"
                  *ngIf="num1.invalid && num1.touched"
                  >8 Numéros
                </small>
              </div>
            </div>
            <div class="col-xl">
              <div class="form-group">
                <label for="exampleFormControlInput1">Numéro 2</label>
                <input
                  pattern="^\d{8}$"
                  #num2="ngModel"
                  [(ngModel)]="this.adherent.numTel2"
                  name="num2"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="66789423"
                  [class.is-invalid]="num2.invalid && num2.dirty"
                />
                <small
                  class="d-flex justify-content-center text-danger"
                  *ngIf="num2.invalid && num2.dirty"
                  >8 Numéros
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
              [(ngModel)]="this.adherent.email"
              #email="ngModel"
              type="text"
              name="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Email"
              [class.is-invalid]="email.invalid && email.dirty"
            />
            <small
              class="d-flex justify-content-center text-danger"
              *ngIf="email.invalid && email.dirty"
              >Email Invalide
            </small>
          </div>
          <hr />
          <div class="form-group">
            <label for="exampleFormControlInput1">Numéro Carte</label>
            <input
              #numCarte="ngModel"
              pattern="[0-9]*"
              [(ngModel)]="this.adherent.numCarte"
              type="text"
              name="numCarte"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Numéro Carte"
              [class.is-invalid]="numCarte.invalid && numCarte.dirty"
            />
            <small
              class="d-flex justify-content-center text-danger"
              *ngIf="numCarte.invalid && numCarte.dirty"
              >Seulement des Numéros
            </small>
          </div>
          <div class="row justify-content-between">
            <div class="col-xl">
              <div class="form-group">
                <label for="exampleFormControlInput1">Code Utecom</label>
                <input
                  #codeUtecom="ngModel"
                  pattern="[0-9]*"
                  [(ngModel)]="this.adherent.codeUtecom"
                  name="codeUtecom"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Code Utecom"
                  [class.is-invalid]="codeUtecom.invalid && codeUtecom.dirty"
                />
                <small
                  class="d-flex justify-content-center text-danger"
                  *ngIf="codeUtecom.invalid && codeUtecom.dirty"
                  >Seulement des Numéros
                </small>
              </div>
            </div>
            <div class="col-xl">
              <div class="form-group">
                <label for="exampleFormControlInput1">Code Utecom</label>
                <input
                  #codeUtecom="ngModel"
                  pattern="[0-9]*"
                  ngModel
                  name="codeUtecom"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Code Utecom"
                  [class.is-invalid]="codeUtecom.invalid && codeUtecom.dirty"
                />
                <small
                  class="d-flex justify-content-center text-danger"
                  *ngIf="codeUtecom.invalid && codeUtecom.dirty"
                  >Seulement des Numéros
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" style="align-self: auto;">
          <div class="form-group">
            <label>Gouvernorat</label>
            <select
              required
              #gouvernorat="ngModel"
              (change)="selectGouvernorat($event.target.value)"
              class="form-control"
              name="gouvernorat"
              ngModel
            >
              <option value="">{{ this.adresse.municipalite }}</option>
              <option
                [value]="i"
                *ngFor="let gouvernorats of this.gouvernorats; let i = index"
              >
                {{ gouvernorats }}
              </option>
            </select>
          </div>
          <div class="row justify-content-between">
            <div class="col-7">
              <div class="form-group">
                <label for="exampleFormControlInput1">Municipalié</label>
                <select
                  #municipalite="ngModel"
                  ngModel
                  required
                  (change)="selectMunicipalite($event.target.value)"
                  class="form-control"
                  name="municipalite"
                  [class.is-invalid]="
                    gouvernorat.invalid && gouvernorat.touched
                  "
                >
                  <option *ngIf="gouvernorat.pristine" value="">{{
                    this.adresse.ville
                  }}</option>
                  <option
                    [value]="municipalite"
                    *ngFor="
                      let municipalite of this.muncipalites[
                        this.gouvernoratNumber
                      ]
                    "
                  >
                    {{ municipalite }}
                  </option>
                </select>
                <small
                  class="d-flex justify-content-center text-danger"
                  *ngIf="municipalite.invalid && municipalite.touched"
                  >Ce Champs est requis
                </small>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="exampleFormControlInput1">Code Postale</label>
                <input
                  pattern="^\d{4}$"
                  #codePostale="ngModel"
                  [(ngModel)]="this.adresse.codePostale"
                  name="codePostale"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Code Postale"
                  [class.is-invalid]="codePostale.invalid && codePostale.dirty"
                />
                <small
                  class="d-flex justify-content-center text-danger"
                  *ngIf="codePostale.invalid && codePostale.dirty"
                  >4 Numéros
                </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Rue</label>
            <input
              required
              #rue="ngModel"
              [(ngModel)]="this.adresse.rue"
              type="text"
              [class.is-invalid]="nom.invalid && nom.touched"
              name="rue"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Amicale 1"
            />
            <small
              class="d-flex justify-content-center text-danger"
              *ngIf="rue.invalid && rue.touched"
              >La rue est requise
            </small>
          </div>

          <div
            style="
              position: absolute;
              bottom: 1.5em;

              width: inherit;
            "
          >
            <div>
              <button (click)="close()" class="btn btn-outline-danger">
                Annuler
              </button>
              <button
                class="btn btn-success"
                type="submit"
                style="position: absolute; right: 1.5em;"
              >
                Confirmer
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
