<div
  *ngIf="isLoading"
  style="
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <app-loading-spinner color="#ffffff"></app-loading-spinner>
</div>

<div *ngIf="isLoading == false">
  <div class="header py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-5"></div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-4">
            <img
              src="../../../assets/img/brand/logo3.png"
              class="rounded mx-auto d-block pt-2 pb--0"
              alt="..."
            />
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <ng-container [ngSwitch]="type">
              <form
                *ngSwitchCase="login"
                #form="ngForm"
                (ngSubmit)="onSubmit(form)"
              >
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-email-83"></i
                      ></span>
                    </div>
                    <input
                      ngModel
                      name="email"
                      required
                      class="form-control"
                      placeholder="Email"
                      type="email"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      ngModel
                      name="password"
                      required
                      class="form-control"
                      placeholder="Mot de passe "
                      type="password"
                    />
                  </div>
                  <div style="text-align: center; color: red;">
                    {{ this.error }}
                  </div>
                </div>
                <div class="text-center">
                  <input
                    type="submit"
                    class="btn btn-primary my-4"
                    value="Se Connecter"
                  />
                </div>
              </form>
              <form
                *ngSwitchCase="forgottenPassword"
                #form="ngForm"
                (ngSubmit)="onSubmit(form)"
              >
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-email-83"></i
                      ></span>
                    </div>
                    <input
                      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                      ngModel
                      #email="ngModel"
                      type="text"
                      name="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Email"
                      [class.is-invalid]="email.invalid && email.touched"
                    />
                  </div>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    *ngIf="email.invalid && email.touched"
                    >Email Invalide
                  </small>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    >{{ this.message }}</small
                  >
                  <div class="text-center">
                    <input
                      [disabled]="form.form.invalid"
                      type="submit"
                      class="btn btn-primary my-4"
                      value="Envoyer"
                    />
                  </div>
                </div>
              </form>
              <form
                *ngSwitchCase="resetPassword"
                #form="ngForm"
                (ngSubmit)="onSubmit(form)"
              >
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      required
                      #password1="ngModel"
                      ngModel
                      type="password"
                      [class.is-invalid]="
                        password1.invalid && password1.touched
                      "
                      name="password1"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Mot de passe"
                    />
                  </div>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    *ngIf="password1.invalid && password1.touched"
                    >Ce champs est requis
                  </small>
                  <br />
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-lock-circle-open"></i
                        ></span>
                      </div>

                      <input
                        required
                        #password2="ngModel"
                        ngModel
                        type="password"
                        [class.is-invalid]="
                          password2.value != password1.value && password2.dirty
                        "
                        name="password2"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Repetez votre mot de passe ici"
                      />
                    </div>
                    <small
                      style="text-align: center;"
                      class="d-flex justify-content-center text-danger"
                      *ngIf="
                        password2.value != password1.value && password2.dirty
                      "
                      >Les mots de passe ne sont pas similaires
                    </small>
                  </div>

                  <div class="text-center">
                    <input
                      [disabled]="
                        form.form.invalid || password2.value != password1.value
                      "
                      type="submit"
                      class="btn btn-primary my-4"
                      value="Confirmer"
                    />
                  </div>
                </div>
              </form>
              <form
                *ngSwitchCase="registration"
                #form="ngForm"
                (ngSubmit)="onSubmit(form)"
              >
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>

                    <input
                      required
                      #nom="ngModel"
                      ngModel
                      type="text"
                      [class.is-invalid]="nom.invalid && nom.touched"
                      name="nom"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Nom"
                    />
                  </div>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    *ngIf="nom.invalid && nom.touched"
                    >Nom est requis
                  </small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>

                    <input
                      required
                      #prenom="ngModel"
                      ngModel
                      type="text"
                      [class.is-invalid]="prenom.invalid && prenom.touched"
                      name="prenom"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Prenom"
                    />
                  </div>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    *ngIf="prenom.invalid && prenom.touched"
                    >Le prenom est requis
                  </small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>

                    <input
                      required
                      #cin="ngModel"
                      pattern="^\d{8}$"
                      ngModel
                      name="cin"
                      required
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="cin"
                      [class.is-invalid]="cin.invalid && cin.touched"
                    />
                  </div>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    *ngIf="cin.invalid && cin.touched"
                    >8 Numéros
                  </small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      required
                      #password1="ngModel"
                      ngModel
                      type="password"
                      [class.is-invalid]="
                        password1.invalid && password1.touched
                      "
                      name="password1"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Mot de passe"
                    />
                  </div>
                  <small
                    style="text-align: center;"
                    class="d-flex justify-content-center text-danger"
                    *ngIf="password1.invalid && password1.touched"
                    >Ce champs est requis
                  </small>
                  <br />
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-lock-circle-open"></i
                        ></span>
                      </div>

                      <input
                        required
                        #password2="ngModel"
                        ngModel
                        type="password"
                        [class.is-invalid]="
                          password2.value != password1.value && password2.dirty
                        "
                        name="password2"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Repetez votre mot de passe ici"
                      />
                    </div>
                    <small
                      style="text-align: center;"
                      class="d-flex justify-content-center text-danger"
                      *ngIf="
                        password2.value != password1.value && password2.dirty
                      "
                      >Les mots de passe ne sont pas similaires
                    </small>
                  </div>

                  <div class="text-center">
                    <input
                      [disabled]="
                        form.form.invalid || password2.value != password1.value
                      "
                      type="submit"
                      class="btn btn-primary my-4"
                      value="Confirmer"
                    />
                  </div>
                </div>
              </form>

              <form *ngSwitchDefault #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-email-83"></i
                      ></span>
                    </div>
                    <input
                      ngModel
                      name="email"
                      required
                      class="form-control"
                      placeholder="Email"
                      type="email"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      ngModel
                      name="password"
                      required
                      class="form-control"
                      placeholder="Mot de passe "
                      type="password"
                    />
                  </div>
                  <div style="text-align: center; color: red;">
                    {{ this.error }}
                  </div>
                </div>
                <div class="text-center">
                  <input
                    type="submit"
                    class="btn btn-primary my-4"
                    value="Se Connecter"
                  />
                </div>
              </form>
            </ng-container>
          </div>
        </div>
        <div
          class="row mt-3"
          *ngIf="
            this.type != 'forgottenPassword' && this.type != 'resetPassword'
          "
        >
          <div class="col-6">
            <a
              href="javascript:void(0)"
              (click)="toForgottenPassword()"
              class="text-light"
              ><small>Mot de passe oublié?</small></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
