<div class="lds-grid">
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
  <div [ngStyle]="{ background: this.color }"></div>
</div>
