<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div
          class="col-xl-3 col-lg-6"
          [ngStyle]="{ 'margin-bottom': this.width <= 1180 ? '25px' : '0px' }"
        >
          <div class="card card-stats mb-4 mb-xl-0" class="card">
            <small-card
              name="Nombre des Adhérents"
              icon="fa fa-male"
              [statistics]="this.nbadherent"
            ></small-card>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-6"
          [ngStyle]="{ 'margin-bottom': this.width <= 1180 ? '25px' : '0px' }"
        >
          <div class="card card-stats mb-4 mb-xl-0" class="card">
            <small-card
              name=" Adhérents Actifs"
              icon="fas fa-thumbs-up"
              [statistics]="this.nbAdherentsActifs"
            ></small-card>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-6"
          [ngStyle]="{ 'margin-bottom': this.width <= 1180 ? '25px' : '0px' }"
        >
          <div class="card card-stats mb-4 mb-xl-0" class="card">
            <small-card
              name=" Nombre des contrats"
              icon="fas fa-file-contract"
              [statistics]="this.nbContrats"
            ></small-card>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-6"
          [ngStyle]="{ 'margin-bottom': this.width <= 1180 ? '25px' : '0px' }"
        >
          <div class="card card-stats mb-4 mb-xl-0" class="card">
            <small-card
              name=" Nombre des amicales"
              icon="fas fa-building"
              statistics="30"
            ></small-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 mr-0">
  <div class="row">
    <div class="col-8">
      <app-amicales-card [listAmicales]="this.listAmicales"></app-amicales-card>
    </div>
    <div class="col-4">
      <app-date-echeance-table
        [listContrats]="this.listContrats"
      ></app-date-echeance-table>
    </div>
  </div>
</div>
